In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(np.random.randint(3,120, size = 15))

In [5]:
df.var()

0    1151.380952
dtype: float64

In [6]:
df.std()

0    33.932005
dtype: float64

In [7]:
df.mean()

0    53.333333
dtype: float64

In [ ]:
# Örneklem:
# Ana veriden (big data) ara veri çekmektir. 
# Örneklem sayısı ne kadar artarsa ana kitleye o kadar analiz yapılır.

In [9]:
hasta = np.random.randint(5,80,size = 150000)

In [10]:
np.random.seed(210)
orneklem1 = np.random.choice(hasta,size = 200)

In [11]:
orneklem1.mean()

39.525

In [12]:
np.random.seed(10)
orneklem2 = np.random.choice(hasta,size = 200)
orneklem3 = np.random.choice(hasta,size = 200)
orneklem4 = np.random.choice(hasta,size = 200)
orneklem5 = np.random.choice(hasta,size = 200)
orneklem6 = np.random.choice(hasta,size = 200)
orneklem7 = np.random.choice(hasta,size = 200)
orneklem8 = np.random.choice(hasta,size = 200)
orneklem9 = np.random.choice(hasta,size = 200)
orneklem10 = np.random.choice(hasta,size = 200)

In [44]:
erkek = pd.DataFrame(np.random.randint(5,80, size = 40000), columns=["erkek"])
bayan = pd.DataFrame(np.random.randint(5,80, size = 110000), columns = ["kadın"])

In [52]:
hasta = pd.concat([erkek,bayan], axis=1)

In [53]:
hasta.head()

   erkek  kadın
0   38.0     41
1   26.0     51
2   71.0      8
3   63.0     65
4   15.0     19

In [56]:
pd.DataFrame({"erkek":(np.random.randint(5,80,100)), "kadın": (np.random.randint(5,80,100))})

    erkek  kadın
0      40     11
1      34     23
2      74     56
3      36     26
4      13     31
..    ...    ...
95     15     27
96     58     11
97     35     50
98     24     24
99      8      9

[100 rows x 2 columns]

In [74]:
erkek = pd.DataFrame(np.random.randint(5,80,40000),columns=["erkek"],dtype="int64")
kadın = pd.DataFrame(np.random.randint(5,80,20000),columns=["kadın"])
hasta = pd.concat([erkek,kadın],axis=1)
hasta.head()

   erkek  kadın
0      8   38.0
1     73   79.0
2     54   18.0
3     64   79.0
4     33   36.0

In [64]:
hasta.tail()

        erkek  kadın
109995    NaN     17
109996    NaN      5
109997    NaN     61
109998    NaN     38
109999    NaN     40

In [76]:
hasta.cov()

            erkek       kadın
erkek  468.552481    1.078685
kadın    1.078685  467.525497

In [78]:
import seaborn as sns

In [80]:
hasta = np.random.randint(5,80,size = 140000)

In [87]:
np.random.seed(102)
bayan = np.random.choice(a= hasta, size = 10000)

In [89]:
np.random.seed(100)
male = np.random.choice(a = hasta, size = 40000)