In [1]:
import numpy as np
import pandas as pd

# **PANDAS**

### **Today's Agenda**:
#### **Exercise**  
#### **Replace**   
#### **str methods**   
#### **Missing Data**

In [2]:
df = pd.read_csv('world-happiness-report-2021.csv')

In [3]:
df1 = df[['Country name', 'Regional indicator', 'Ladder score',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption']].copy()
df1.set_index('Country name', inplace=True)
df1.head(2)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179

**Exercise** : We are working as a Data Scientist at an internationally well-known infrastructure company, 
which makes projects all over the world. Right now, our company's focus areas are: 'Southeast Asia' and 'South Asia'.

In the first place, our boss wants us to prepare a descriptive report on the institutional integrity and citizens to trust their governments to see whether it is worthed to start a project idea to invest huge amount of money and time to those regions.

We are preparing a descriptive report for our boss, who does not have much knowledge of statistics or reading statistical results. As data scientists, we should prepare something concise and understandable.

Let's start with the following steps:

-First, decide on which variable would be a good choice to work on 

-Second give our boss both numbers and also kind of explanatory side (like we did before)

-Make a comparison between two regions in the text 

-Our report should contain 

--overall regions, 

--'Southeast Asia' and 'South Asia'

--variable and modified version of the variable

In [6]:
df1.groupby('Regional indicator')['Perceptions of corruption'].agg(['mean','max','min']).sort_values(by='mean', ascending=False)

                                        mean    max    min
Regional indicator
Central and Eastern Europe          0.850529  0.939  0.527
South Asia                          0.797429  0.924  0.682
Latin America and Caribbean         0.792600  0.891  0.590
Sub-Saharan Africa                  0.765944  0.915  0.167
Middle East and North Africa        0.762235  0.898  0.589
Commonwealth of Independent States  0.725083  0.924  0.506
Southeast Asia                      0.709111  0.895  0.082
East Asia                           0.683333  0.856  0.403
Western Europe                      0.523095  0.887  0.179
North America and ANZ               0.449250  0.698  0.242

In [7]:
df1.groupby('Regional indicator').get_group('Southeast Asia')['Perceptions of corruption'].sort_values(ascending=False)

Country name
Thailand       0.895
Indonesia      0.867
Cambodia       0.843
Malaysia       0.839
Vietnam        0.796
Philippines    0.742
Myanmar        0.660
Laos           0.658
Singapore      0.082
Name: Perceptions of corruption, dtype: float64

In [8]:
df1.groupby('Regional indicator').get_group('South Asia')['Perceptions of corruption'].sort_values(ascending=False)

Country name
Afghanistan    0.924
Sri Lanka      0.863
Maldives       0.825
Pakistan       0.787
India          0.774
Nepal          0.727
Bangladesh     0.682
Name: Perceptions of corruption, dtype: float64

In [9]:
df1['Perceptions of corruption'].describe()

count    149.000000
mean       0.727450
std        0.179226
min        0.082000
25%        0.667000
50%        0.781000
75%        0.845000
max        0.939000
Name: Perceptions of corruption, dtype: float64

In [10]:
def trust(corrupt):
    if corrupt >= 0.845000:
        return 'Low trust in institutions'
    elif corrupt > 0.781000 and corrupt < 0.845000:
        return 'Lower than normal level trust in institutions'
    elif corrupt > 0.667000 and corrupt <= 0.781000:
        return 'About the normal level trust in institutions'
    else:
        return 'High level trust in institutions'

In [11]:
df1['trust in institutions'] = df1['Perceptions of corruption'].apply(trust)
df1['trust in institutions'].head(2)

Country name
Finland    High level trust in institutions
Denmark    High level trust in institutions
Name: trust in institutions, dtype: object

In [12]:
df1.groupby('Regional indicator').get_group('South Asia')['trust in institutions']

Country name
Nepal           About the normal level trust in institutions
Maldives       Lower than normal level trust in institutions
Bangladesh      About the normal level trust in institutions
Pakistan       Lower than normal level trust in institutions
Sri Lanka                          Low trust in institutions
India           About the normal level trust in institutions
Afghanistan                        Low trust in institutions
Name: trust in institutions, dtype: object

In [13]:
df1.groupby('Regional indicator').get_group('Southeast Asia')['trust in institutions']

Country name
Singapore                   High level trust in institutions
Thailand                           Low trust in institutions
Philippines     About the normal level trust in institutions
Vietnam        Lower than normal level trust in institutions
Malaysia       Lower than normal level trust in institutions
Indonesia                          Low trust in institutions
Laos                        High level trust in institutions
Cambodia       Lower than normal level trust in institutions
Myanmar                     High level trust in institutions
Name: trust in institutions, dtype: object

In [14]:
invest_df= df1[(df1['Regional indicator']=='Southeast Asia') | (df1['Regional indicator']=='South Asia')]
invest_df.head(2)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,trust in institutions
Country name,,,,,,,,,
Singapore,Southeast Asia,6.377,11.488,0.915,76.953,0.927,-0.018,0.082,High level trust in institutions
Thailand,Southeast Asia,5.985,9.805,0.888,67.401,0.884,0.287,0.895,Low trust in institutions

In [15]:
#1
invest_df[['Regional indicator','Perceptions of corruption','trust in institutions']].sort_values(by='Regional indicator')

,Regional indicator,Perceptions of corruption,trust in institutions
Country name,,,
Nepal,South Asia,0.727,About the normal level trust in institutions
Maldives,South Asia,0.825,Lower than normal level trust in institutions
Bangladesh,South Asia,0.682,About the normal level trust in institutions
Pakistan,South Asia,0.787,Lower than normal level trust in institutions
Sri Lanka,South Asia,0.863,Low trust in institutions
India,South Asia,0.774,About the normal level trust in institutions
Afghanistan,South Asia,0.924,Low trust in institutions
Singapore,Southeast Asia,0.082,High level trust in institutions
Thailand,Southeast Asia,0.895,Low trust in institutions
Philippines,Southeast Asia,0.742,About the normal level trust in institutions
Vietnam,Southeast Asia,0.796,Lower than normal level trust in institutions
Malaysia,Southeast Asia,0.839,Lower than normal level trust in institutions
Indonesia,Southeast Asia,0.867,Low trust in institutions
Laos,Southeast Asia,0.658,High level trust in institutions
Cambodia,Southeast Asia,0.843,Lower than normal level trust in institutions
Myanmar,Southeast Asia,0.660,High level trust in institutions

In [16]:
#2
invest_df.groupby('Regional indicator')[['Perceptions of corruption','trust in institutions']].describe()

                   Perceptions of corruption                             \
                                       count      mean       std    min
Regional indicator
South Asia                               7.0  0.797429  0.081672  0.682
Southeast Asia                           9.0  0.709111  0.250301  0.082


                       25%    50%    75%    max
Regional indicator
South Asia          0.7505  0.787  0.844  0.924
Southeast Asia      0.6600  0.796  0.843  0.895

In [19]:
#3
invest_df= invest_df.reset_index()
invest_df= invest_df.set_index(['Regional indicator'])
invest_df.sort_index(inplace=True)

In [22]:
invest_df[['Country name','Perceptions of corruption','trust in institutions']]

,Country name,Perceptions of corruption,trust in institutions
Regional indicator,,,
South Asia,Nepal,0.727,About the normal level trust in institutions
South Asia,Maldives,0.825,Lower than normal level trust in institutions
South Asia,Bangladesh,0.682,About the normal level trust in institutions
South Asia,Pakistan,0.787,Lower than normal level trust in institutions
South Asia,Sri Lanka,0.863,Low trust in institutions
South Asia,India,0.774,About the normal level trust in institutions
South Asia,Afghanistan,0.924,Low trust in institutions
Southeast Asia,Singapore,0.082,High level trust in institutions
Southeast Asia,Thailand,0.895,Low trust in institutions
Southeast Asia,Philippines,0.742,About the normal level trust in institutions
Southeast Asia,Vietnam,0.796,Lower than normal level trust in institutions
Southeast Asia,Malaysia,0.839,Lower than normal level trust in institutions
Southeast Asia,Indonesia,0.867,Low trust in institutions
Southeast Asia,Laos,0.658,High level trust in institutions
Southeast Asia,Cambodia,0.843,Lower than normal level trust in institutions
Southeast Asia,Myanmar,0.660,High level trust in institutions

In [23]:
#4
invest_df= invest_df.reset_index()
invest_df= invest_df.set_index(['Regional indicator','Country name'])
invest_df.sort_index(inplace=True)

In [24]:
invest_df[['Perceptions of corruption','trust in institutions']]

                                 Perceptions of corruption  \
Regional indicator Country name
South Asia         Afghanistan                       0.924
                   Bangladesh                        0.682
                   India                             0.774
                   Maldives                          0.825
                   Nepal                             0.727
                   Pakistan                          0.787
                   Sri Lanka                         0.863
Southeast Asia     Cambodia                          0.843
                   Indonesia                         0.867
                   Laos                              0.658
                   Malaysia                          0.839
                   Myanmar                           0.660
                   Philippines                       0.742
                   Singapore                         0.082
                   Thailand                          0.895
                   Vietnam                           0.796

                                                         trust in institutions
Regional indicator Country name
South Asia         Afghanistan                       Low trust in institutions
                   Bangladesh     About the normal level trust in institutions
                   India          About the normal level trust in institutions
                   Maldives      Lower than normal level trust in institutions
                   Nepal          About the normal level trust in institutions
                   Pakistan      Lower than normal level trust in institutions
                   Sri Lanka                         Low trust in institutions
Southeast Asia     Cambodia      Lower than normal level trust in institutions
                   Indonesia                         Low trust in institutions
                   Laos                       High level trust in institutions
                   Malaysia      Lower than normal level trust in institutions
                   Myanmar                    High level trust in institutions
                   Philippines    About the normal level trust in institutions
                   Singapore                  High level trust in institutions
                   Thailand                          Low trust in institutions
                   Vietnam       Lower than normal level trust in institutions

##### **replace()**

In [25]:
df1.head(2)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,trust in institutions
Country name,,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,High level trust in institutions
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179,High level trust in institutions

In [26]:
df1['Regional indicator'].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Middle East and North Africa          17
Central and Eastern Europe            17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [27]:
df1['Regional indicator'].replace({'Western Europe':'West Europe'})

Country name
Finland               West Europe
Denmark               West Europe
Switzerland           West Europe
Iceland               West Europe
Netherlands           West Europe
                      ...
Lesotho        Sub-Saharan Africa
Botswana       Sub-Saharan Africa
Rwanda         Sub-Saharan Africa
Zimbabwe       Sub-Saharan Africa
Afghanistan            South Asia
Name: Regional indicator, Length: 149, dtype: object

#### **str()**

In [28]:
# long method:
df2 = df1.copy()

In [29]:
df2.columns

Index(['Regional indicator', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'trust in institutions'],
      dtype='object')

In [30]:
df2.columns=[x.upper() for x in df2.columns]
df2.head(2)

,REGIONAL INDICATOR,LADDER SCORE,LOGGED GDP PER CAPITA,SOCIAL SUPPORT,HEALTHY LIFE EXPECTANCY,FREEDOM TO MAKE LIFE CHOICES,GENEROSITY,PERCEPTIONS OF CORRUPTION,TRUST IN INSTITUTIONS
Country name,,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,High level trust in institutions
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179,High level trust in institutions

In [31]:
df2.columns= df2.columns.str.title()
df2.head(2)

,Regional Indicator,Ladder Score,Logged Gdp Per Capita,Social Support,Healthy Life Expectancy,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Trust In Institutions
Country name,,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,High level trust in institutions
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179,High level trust in institutions

In [33]:
df2['Regional Indicator'].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Middle East and North Africa          17
Central and Eastern Europe            17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             7
East Asia                              6
North America and ANZ                  4
Name: Regional Indicator, dtype: int64

In [34]:
df2['Regional Indicator'].str.contains('Asia', na=False, case=False)

Country name
Finland        False
Denmark        False
Switzerland    False
Iceland        False
Netherlands    False
               ...
Lesotho        False
Botswana       False
Rwanda         False
Zimbabwe       False
Afghanistan     True
Name: Regional Indicator, Length: 149, dtype: bool

### Exercise

- By using 'Working Language.csv' sample data,
- How many developers use Python as a working language in their jobs
- Number of people in each country uses Python as a working language in their jobs
- How many people in your country of interest uses Python as a working language in their jobs

In [2]:
#nlargest

In [3]:
# nsmallest

### Missing DATA

In [37]:
friends = {
    'first': ['Mike', 'Kevin', 'Mary', 'John', np.nan, None, 'NA'], 
    'last': ['Brown', 'Cline', 'Sunderland', 'Cliff', np.nan, np.nan, 'Missing'], 
    'email': ['mikebrown@gmail.com', 'kevincline@email.com', 'Johncliff@email.com', None, np.nan, 'private@email.com', 'NA'],
    'age': ['27', '45', '54', '37', None, None, 'Missing']
}

In [38]:
df_2= pd.DataFrame(friends)
df_2

   first        last                 email      age
0   Mike       Brown   mikebrown@gmail.com       27
1  Kevin       Cline  kevincline@email.com       45
2   Mary  Sunderland   Johncliff@email.com       54
3   John       Cliff                  None       37
4    NaN         NaN                   NaN     None
5   None         NaN     private@email.com     None
6     NA     Missing                    NA  Missing

In [39]:
df_2.isnull().sum()

first    2
last     2
email    2
age      2
dtype: int64

`dropna()`

In [40]:
df_2.dropna()

   first        last                 email      age
0   Mike       Brown   mikebrown@gmail.com       27
1  Kevin       Cline  kevincline@email.com       45
2   Mary  Sunderland   Johncliff@email.com       54
6     NA     Missing                    NA  Missing

In [41]:
df_2.dropna(subset=['email'])

   first        last                 email      age
0   Mike       Brown   mikebrown@gmail.com       27
1  Kevin       Cline  kevincline@email.com       45
2   Mary  Sunderland   Johncliff@email.com       54
5   None         NaN     private@email.com     None
6     NA     Missing                    NA  Missing

In [ ]:
('NA','Missing')--> np.nan

In [42]:
df_2.replace('NA', np.nan, inplace=True)
df_2.replace('Missing', np.nan, inplace=True)

In [ ]:
# Or we can make new list and put it to the at front of the dataframing proceses.
na_vals = ['Missing','NA']

df = pd.read_csv('cvs file name', na_values=na_vals)

In [44]:
df_2.isnull().sum()

first    3
last     3
email    3
age      3
dtype: int64

In [45]:
df_2['age']

0      27
1      45
2      54
3      37
4    None
5    None
6     NaN
Name: age, dtype: object

`fillna()`

In [46]:
df_2.dtypes

first    object
last     object
email    object
age      object
dtype: object

In [47]:
df_2['age'] = df_2['age'].astype(float)

In [48]:
df_2['age'].mean()

40.75

In [49]:
df_2['age'].fillna(40.75)

0    27.00
1    45.00
2    54.00
3    37.00
4    40.75
5    40.75
6    40.75
Name: age, dtype: float64

### **Exercise**
#Let's make 
- Afghanistan's and Pakistan's Freedom to make life choices are missing
- Uzbekistan's and Kyrgyzstan's ''Perceptions of corruption' are missing
- Albania's and Croatia's 'Social support'are missing
- Use your knowledge to solve how todeal with the missing values.

In [52]:
df1.loc['Afghanistan','Freedom to make life choices']=np.nan

In [53]:
df1.loc['Afghanistan','Freedom to make life choices']

nan

In [65]:
df1['Ladder score'].idxmin()

'Afghanistan'

In [66]:
df1.loc['Afghanistan']

Regional indicator              South Asia
Ladder score                         2.523
Logged GDP per capita                7.695
Social support                       0.463
Healthy life expectancy             52.493
Freedom to make life choices         0.382
Generosity                          -0.102
Perceptions of corruption            0.924
Name: Afghanistan, dtype: object

In [ ]:
df1.loc['Afghanistan']

In [67]:
df1.groupby('Regional indicator').get_group('South Asia').mean()

Ladder score                     4.441857
Logged GDP per capita            8.682571
Social support                   0.703429
Healthy life expectancy         62.681000
Freedom to make life choices     0.765000
Generosity                       0.042714
Perceptions of corruption        0.797429
dtype: float64

In [68]:
df1.groupby('Regional indicator').get_group('South Asia').sort_values(by='Freedom to make life choices', ascending=False)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
India,South Asia,3.819,8.755,0.603,60.633,0.893,0.089,0.774
Bangladesh,South Asia,5.025,8.454,0.693,64.800,0.877,-0.041,0.682
Maldives,South Asia,5.198,9.826,0.913,70.600,0.854,0.024,0.825
Sri Lanka,South Asia,4.325,9.470,0.827,67.299,0.841,0.079,0.863
Nepal,South Asia,5.269,8.120,0.774,64.233,0.782,0.152,0.727
Pakistan,South Asia,4.934,8.458,0.651,58.709,0.726,0.098,0.787
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924