In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("world-happiness-report-2021.csv")

In [21]:
df1=df[['Country name', 'Regional indicator', 'Ladder score',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption']].copy()

In [9]:
df.head(2)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868

In [7]:
df.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [10]:
df1.set_index("Country name", inplace=True)

In [12]:
df1.head(2)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179

In [13]:
df1.reset_index()

,Country name,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
1,Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
2,Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
3,Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
4,Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
145,Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
146,Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
147,Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
148,Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

In [15]:
df1.columns

Index(['Regional indicator', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [17]:
df1.columns

Index(['Regional indicator', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [18]:
df1.set_index('Ladder score', inplace = True)

In [20]:
df1.head()

,Regional indicator,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Ladder score,,,,,,,
7.842,Western Europe,10.775,0.954,72.0,0.949,-0.098,0.186
7.620,Western Europe,10.933,0.954,72.7,0.946,0.030,0.179
7.571,Western Europe,11.117,0.942,74.4,0.919,0.025,0.292
7.554,Western Europe,10.878,0.983,73.0,0.955,0.160,0.673
7.464,Western Europe,10.932,0.942,72.4,0.913,0.175,0.338

In [22]:
df1.head(2)

,Country name,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179

In [23]:
df1.set_index('Country name', inplace = True)

In [24]:
df1.shape

(149, 8)

In [25]:
df1.tail()

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Lesotho,Sub-Saharan Africa,3.512,7.926,0.787,48.700,0.715,-0.131,0.915
Botswana,Sub-Saharan Africa,3.467,9.782,0.784,59.269,0.824,-0.246,0.801
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

In [26]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149 entries, Finland to Afghanistan
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Regional indicator            149 non-null    object
 1   Ladder score                  149 non-null    float64
 2   Logged GDP per capita         149 non-null    float64
 3   Social support                149 non-null    float64
 4   Healthy life expectancy       149 non-null    float64
 5   Freedom to make life choices  149 non-null    float64
 6   Generosity                    149 non-null    float64
 7   Perceptions of corruption     149 non-null    float64
dtypes: float64(7), object(1)
memory usage: 10.5+ KB

In [30]:
df1.sample(3)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Haiti,Latin America and Caribbean,3.615,7.477,0.540,55.700,0.593,0.422,0.721
Honduras,Latin America and Caribbean,5.919,8.648,0.812,67.300,0.857,0.081,0.809
Malaysia,Southeast Asia,5.384,10.238,0.817,67.102,0.895,0.125,0.839

In [31]:
df1.describe()

,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.532839,9.432208,0.814745,64.992799,0.791597,-0.015134,0.727450
std,1.073924,1.158601,0.114889,6.762043,0.113332,0.150657,0.179226
min,2.523000,6.635000,0.463000,48.478000,0.382000,-0.288000,0.082000
25%,4.852000,8.541000,0.750000,59.802000,0.718000,-0.126000,0.667000
50%,5.534000,9.569000,0.832000,66.603000,0.804000,-0.036000,0.781000
75%,6.255000,10.421000,0.905000,69.600000,0.877000,0.079000,0.845000
max,7.842000,11.647000,0.983000,76.953000,0.970000,0.542000,0.939000

In [33]:
q1 = np.percentile(df1['Ladder score'],25)
q1

4.852

In [37]:
q3 = np.quantile(df1['Ladder score'],0.75)
q3

6.255

In [39]:
iqr = q3 - q1
iqr

1.4029999999999996

In [42]:
left = q1 -1.5*iqr
left

2.747500000000001

In [46]:
right = q3 + 1.5*iqr
right

8.359499999999999

In [49]:
left_outlier = df1[df1['Ladder score']<left]
left_outlier

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Afghanistan,South Asia,2.523,7.695,0.463,52.493,0.382,-0.102,0.924

In [51]:
right_outlier = df1[df1['Ladder score']>right]
right_outlier

Empty DataFrame
Columns: [Regional indicator, Ladder score, Logged GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

In [52]:
df1.drop('Afghanistan', axis=0, inplace = True)

In [54]:
df1.shape

(148, 8)

In [56]:
df1.isnull().sum()

Regional indicator              0
Ladder score                    0
Logged GDP per capita           0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [57]:
df1.columns

Index(['Regional indicator', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [58]:
df1.index

Index(['Finland', 'Denmark', 'Switzerland', 'Iceland', 'Netherlands', 'Norway',
       'Sweden', 'Luxembourg', 'New Zealand', 'Austria',
       ...
       'India', 'Burundi', 'Yemen', 'Tanzania', 'Haiti', 'Malawi', 'Lesotho',
       'Botswana', 'Rwanda', 'Zimbabwe'],
      dtype='object', name='Country name', length=148)

In [67]:
df1['Regional indicator'].value_counts()

Sub-Saharan Africa                    36
Western Europe                        21
Latin America and Caribbean           20
Middle East and North Africa          17
Central and Eastern Europe            17
Commonwealth of Independent States    12
Southeast Asia                         9
South Asia                             6
East Asia                              6
North America and ANZ                  4
Name: Regional indicator, dtype: int64

In [68]:
df1.loc[['Germany','Ethiopia','Peru','Chad','Japan'],['Freedom to make life choices','Healthy life expectancy']]

              Freedom to make life choices  Healthy life expectancy
Country name
Germany                              0.875                   72.500
Ethiopia                             0.752                   59.000
Peru                                 0.822                   68.250
Chad                                 0.579                   48.478
Japan                                0.796                   75.100

In [71]:
df1.iloc[[25,52,65,145],[1,7]]

              Ladder score  Perceptions of corruption
Country name
Saudi Arabia         6.494                      0.684
Hungary              5.992                      0.876
Ecuador              5.764                      0.843
Botswana             3.467                      0.801

In [69]:
df1.columns

Index(['Regional indicator', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [ ]:
Let's bring the Happiness score from the countries where in Central and Easter Europe countries
and where perceptions of corruption higher than 0.9

In [79]:
df1[(df1['Regional indicator'] == 'Central and Eastern Europe' ) & (df1['Perceptions of corruption'] > 0.9)]['Ladder score']

Country name
Kosovo                    6.372
Slovakia                  6.331
Romania                   6.140
Croatia                   5.882
Bosnia and Herzegovina    5.813
Bulgaria                  5.266
Albania                   5.117
North Macedonia           5.101
Name: Ladder score, dtype: float64

In [72]:
df1.head(1)

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country name,,,,,,,,
Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186

In [ ]:
Let's bring the Happiness score from the countries where in Sub-Saharan Africa countries
or countries where Healthy life expectancy'lower than 50

In [85]:
df1[(df1['Regional indicator'] == 'Sub-Saharan Africa') | \
    (df1['Healthy life expectancy'] < 50)]\
[['Ladder score']]

                     Ladder score
Country name
Mauritius                   6.049
Congo (Brazzaville)         5.342
Ivory Coast                 5.306
Cameroon                    5.142
Senegal                     5.132
Ghana                       5.088
Niger                       5.074
Gambia                      5.051
Benin                       5.045
Guinea                      4.984
South Africa                4.956
Gabon                       4.852
Burkina Faso                4.834
Mozambique                  4.794
Nigeria                     4.759
Mali                        4.723
Uganda                      4.636
Liberia                     4.625
Kenya                       4.607
Namibia                     4.574
Chad                        4.355
Swaziland                   4.308
Comoros                     4.289
Ethiopia                    4.275
Mauritania                  4.227
Madagascar                  4.208
Togo                        4.107
Zambia                      4.073
Sierra Leone                3.849
Burundi                     3.775
Tanzania                    3.623
Malawi                      3.600
Lesotho                     3.512
Botswana                    3.467
Rwanda                      3.415
Zimbabwe                    3.145

In [86]:
df1.value_counts()

Regional indicator           Ladder score  Logged GDP per capita  Social support  Healthy life expectancy  Freedom to make life choices  Generosity  Perceptions of corruption
Central and Eastern Europe   5.101         9.693                  0.805           65.474                   0.751                          0.038      0.905                        1
Sub-Saharan Africa           3.467         9.782                  0.784           59.269                   0.824                         -0.246      0.801                        1
                             3.600         6.958                  0.537           57.948                   0.780                          0.038      0.729                        1
                             3.623         7.876                  0.702           57.999                   0.833                          0.183      0.577                        1
                             3.775         6.635                  0.490           53.400                   0.626                         -0.024      0.607                        1
                                                                                                                                                                                 ..
Latin America and Caribbean  6.309         9.186                  0.877           67.500                   0.890                         -0.137      0.884                        1
                             6.317         9.859                  0.831           68.597                   0.862                         -0.147      0.799                        1
                             6.330         9.577                  0.882           66.601                   0.804                         -0.071      0.756                        1
                             6.431         9.966                  0.925           69.100                   0.896                         -0.092      0.590                        1
Western Europe               7.842         10.775                 0.954           72.000                   0.949                         -0.098      0.186                        1
Length: 148, dtype: int64

In [ ]:
Let's randomly bring 7 countries with their 'Regional indicator','Ladder score',
'Perceptions of corruption' scores
Condition : Those countries are not in 
    Western Europe or their 'Perceptions of corruption' 
    scores are not bigger than 0.66

In [90]:
df1[(df1['Regional indicator'] != 'Western Europe') | (df1['Perceptions of corruption'] <= 0.66)]\
.sample(7)[['Regional indicator','Ladder score','Perceptions of corruption']]

,Regional indicator,Ladder score,Perceptions of corruption
Country name,,,
Bolivia,Latin America and Caribbean,5.716,0.839
Lebanon,Middle East and North Africa,4.584,0.898
Rwanda,Sub-Saharan Africa,3.415,0.167
France,Western Europe,6.690,0.571
North Macedonia,Central and Eastern Europe,5.101,0.905
Hungary,Central and Eastern Europe,5.992,0.876
Malta,Western Europe,6.602,0.653

In [96]:
df1['new'] = (df1['Ladder score'] + df1['Perceptions of corruption']) / 2
df1[['new']]

                 new
Country name
Finland       4.0140
Denmark       3.8995
Switzerland   3.9315
Iceland       4.1135
Netherlands   3.9010
...              ...
Malawi        2.1645
Lesotho       2.2135
Botswana      2.1340
Rwanda        1.7910
Zimbabwe      1.9830

[148 rows x 1 columns]

In [97]:
df1.drop('new',axis=1,inplace = True)

In [98]:
'new' in df1.columns

False

In [99]:
df1.columns

Index(['Regional indicator', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [101]:
k = {'Regional indicator':"Westen Europe", 'Ladder score':7.6, 'Logged GDP per capita': 10,
       'Social support':0.9, 'Healthy life expectancy':7,
       'Freedom to make life choices':75, 'Generosity':0.3,
       'Perceptions of corruption':0.2}

In [109]:

df1 = df1.append(pd.DataFrame(k,index=['Joseph']))
df1

,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Finland,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
Denmark,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
Switzerland,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
Iceland,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
Netherlands,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
...,...,...,...,...,...,...,...,...
Rwanda,Sub-Saharan Africa,3.415,7.676,0.552,61.400,0.897,0.061,0.167
Zimbabwe,Sub-Saharan Africa,3.145,7.943,0.750,56.201,0.677,-0.047,0.821
Turkey,Westen Europe,7.600,10.000,0.900,7.000,75.000,0.300,0.200
Turkey,Westen Europe,7.600,10.000,0.900,7.000,75.000,0.300,0.200
Joseph,Westen Europe,7.600,10.000,0.900,7.000,75.000,0.300,0.200

In [112]:
df1.reset_index(inplace = True)

In [114]:
df1.head(2)

,index,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179

In [119]:
df1.head()

,index,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [121]:
'index' in df1.columns

True

In [128]:
df1.rename(columns={'index':'Country'}, inplace=True)

In [129]:
df1.head()

,Country,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [130]:
df1.set_index(['Regional indicator','Country'], inplace = True)

In [131]:
df1.head()

                                Ladder score  Logged GDP per capita  \
Regional indicator Country
Western Europe     Finland             7.842                 10.775
                   Denmark             7.620                 10.933
                   Switzerland         7.571                 11.117
                   Iceland             7.554                 10.878
                   Netherlands         7.464                 10.932

                                Social support  Healthy life expectancy  \
Regional indicator Country
Western Europe     Finland               0.954                     72.0
                   Denmark               0.954                     72.7
                   Switzerland           0.942                     74.4
                   Iceland               0.983                     73.0
                   Netherlands           0.942                     72.4

                                Freedom to make life choices  Generosity  \
Regional indicator Country
Western Europe     Finland                             0.949      -0.098
                   Denmark                             0.946       0.030
                   Switzerland                         0.919       0.025
                   Iceland                             0.955       0.160
                   Netherlands                         0.913       0.175

                                Perceptions of corruption
Regional indicator Country
Western Europe     Finland                          0.186
                   Denmark                          0.179
                   Switzerland                      0.292
                   Iceland                          0.673
                   Netherlands                      0.338

In [133]:
df1.head(10)

                                   Ladder score  Logged GDP per capita  \
Regional indicator    Country
Western Europe        Finland             7.842                 10.775
                      Denmark             7.620                 10.933
                      Switzerland         7.571                 11.117
                      Iceland             7.554                 10.878
                      Netherlands         7.464                 10.932
                      Norway              7.392                 11.053
                      Sweden              7.363                 10.867
                      Luxembourg          7.324                 11.647
North America and ANZ New Zealand         7.277                 10.643
Western Europe        Austria             7.268                 10.906

                                   Social support  Healthy life expectancy  \
Regional indicator    Country
Western Europe        Finland               0.954                     72.0
                      Denmark               0.954                     72.7
                      Switzerland           0.942                     74.4
                      Iceland               0.983                     73.0
                      Netherlands           0.942                     72.4
                      Norway                0.954                     73.3
                      Sweden                0.934                     72.7
                      Luxembourg            0.908                     72.6
North America and ANZ New Zealand           0.948                     73.4
Western Europe        Austria               0.934                     73.3

                                   Freedom to make life choices  Generosity  \
Regional indicator    Country
Western Europe        Finland                             0.949      -0.098
                      Denmark                             0.946       0.030
                      Switzerland                         0.919       0.025
                      Iceland                             0.955       0.160
                      Netherlands                         0.913       0.175
                      Norway                              0.960       0.093
                      Sweden                              0.945       0.086
                      Luxembourg                          0.907      -0.034
North America and ANZ New Zealand                         0.929       0.134
Western Europe        Austria                             0.908       0.042

                                   Perceptions of corruption
Regional indicator    Country
Western Europe        Finland                          0.186
                      Denmark                          0.179
                      Switzerland                      0.292
                      Iceland                          0.673
                      Netherlands                      0.338
                      Norway                           0.270
                      Sweden                           0.237
                      Luxembourg                       0.386
North America and ANZ New Zealand                      0.242
Western Europe        Austria                          0.481

In [135]:
def new(a):
    return a**2

In [136]:
df1['new'] =  df1['Social support'].apply(new)

In [139]:
df1.head(2)

                            Ladder score  Logged GDP per capita  \
Regional indicator Country
Western Europe     Finland         7.842                 10.775
                   Denmark         7.620                 10.933

                            Social support  Healthy life expectancy  \
Regional indicator Country
Western Europe     Finland           0.954                     72.0
                   Denmark           0.954                     72.7

                            Freedom to make life choices  Generosity  \
Regional indicator Country
Western Europe     Finland                         0.949      -0.098
                   Denmark                         0.946       0.030

                            Perceptions of corruption       new
Regional indicator Country
Western Europe     Finland                      0.186  0.910116
                   Denmark                      0.179  0.910116

In [146]:
def new2(a,b):
    return a/b

In [147]:
df1['Healthy life expectancy'] = df1['Healthy life expectancy'].astype(int)
df1['new2'] = np.vectorize(new2)(df1['Social support'],df1['Healthy life expectancy'])

In [148]:
df1.head()

                                Ladder score  Logged GDP per capita  \
Regional indicator Country
Western Europe     Finland             7.842                 10.775
                   Denmark             7.620                 10.933
                   Switzerland         7.571                 11.117
                   Iceland             7.554                 10.878
                   Netherlands         7.464                 10.932

                                Social support  Healthy life expectancy  \
Regional indicator Country
Western Europe     Finland               0.954                       72
                   Denmark               0.954                       72
                   Switzerland           0.942                       74
                   Iceland               0.983                       73
                   Netherlands           0.942                       72

                                Freedom to make life choices  Generosity  \
Regional indicator Country
Western Europe     Finland                             0.949      -0.098
                   Denmark                             0.946       0.030
                   Switzerland                         0.919       0.025
                   Iceland                             0.955       0.160
                   Netherlands                         0.913       0.175

                                Perceptions of corruption       new      new2
Regional indicator Country
Western Europe     Finland                          0.186  0.910116  0.013250
                   Denmark                          0.179  0.910116  0.013250
                   Switzerland                      0.292  0.887364  0.012730
                   Iceland                          0.673  0.966289  0.013466
                   Netherlands                      0.338  0.887364  0.013083

In [ ]:
Based on the our dataset's 'Healthy life expectancy' 
scores, lets make a new column with the name of 
'Explained Healthy life expectancy' with the new values which should consist of:
Let's think 'Healthy life expectancy''s mean score as our threshold.
If 'Healthy life expectancy' is equal and greater than 75% of the 
'Healthy life expectancy' score of the dataset , it should be written 
'Long Life expectancy'
If 'Healthy life expectancy' less than 75% of the 'Healthy life expectancy'
score of the dataset but bigger than our threshold, it should be written 
'Longer than normal expectancy'
-If 'Healthy life expectancy' equal or less than our threshold but bigger
than 25% of the 'Healthy life expectancy' score of the dataset, it should
be written 'Normal life expectancy'
-If 'Healthy life expectancy' equal or less than 25% of the 
'Healthy life expectancy' score of the dataset, it should be written 'Lower life expectancy'

In [149]:
df.describe()

,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,1.490000e+02,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.532839,0.058752,5.648007,5.417631,9.432208,0.814745,64.992799,0.791597,-0.015134,0.727450,2.430000e+00,0.977161,0.793315,0.520161,0.498711,0.178047,0.135141,2.430329
std,1.073924,0.022001,1.054330,1.094879,1.158601,0.114889,6.762043,0.113332,0.150657,0.179226,5.347044e-15,0.404740,0.258871,0.213019,0.137888,0.098270,0.114361,0.537645
min,2.523000,0.026000,2.596000,2.449000,6.635000,0.463000,48.478000,0.382000,-0.288000,0.082000,2.430000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.648000
25%,4.852000,0.043000,4.991000,4.706000,8.541000,0.750000,59.802000,0.718000,-0.126000,0.667000,2.430000e+00,0.666000,0.647000,0.357000,0.409000,0.105000,0.060000,2.138000
50%,5.534000,0.054000,5.625000,5.413000,9.569000,0.832000,66.603000,0.804000,-0.036000,0.781000,2.430000e+00,1.025000,0.832000,0.571000,0.514000,0.164000,0.101000,2.509000
75%,6.255000,0.070000,6.344000,6.128000,10.421000,0.905000,69.600000,0.877000,0.079000,0.845000,2.430000e+00,1.323000,0.996000,0.665000,0.603000,0.239000,0.174000,2.794000
max,7.842000,0.173000,7.904000,7.780000,11.647000,0.983000,76.953000,0.970000,0.542000,0.939000,2.430000e+00,1.751000,1.172000,0.897000,0.716000,0.541000,0.547000,3.482000

In [151]:
def change(x):
    if x >= 69:
        return 'Long Life expectancy'
    elif 64.67 < x < 69:
        return 'Longer than normal expectancy'
    elif 59 < x <= 64.67:
        return 'Normal life expectancy'
    else:
        return ' Lower Life expectancy'

In [152]:
df1['Explained Healthy Life Expectancy'] = df1['Healthy life expectancy'].apply(change)

In [154]:
df1.head()

                                Ladder score  Logged GDP per capita  \
Regional indicator Country
Western Europe     Finland             7.842                 10.775
                   Denmark             7.620                 10.933
                   Switzerland         7.571                 11.117
                   Iceland             7.554                 10.878
                   Netherlands         7.464                 10.932

                                Social support  Healthy life expectancy  \
Regional indicator Country
Western Europe     Finland               0.954                       72
                   Denmark               0.954                       72
                   Switzerland           0.942                       74
                   Iceland               0.983                       73
                   Netherlands           0.942                       72

                                Freedom to make life choices  Generosity  \
Regional indicator Country
Western Europe     Finland                             0.949      -0.098
                   Denmark                             0.946       0.030
                   Switzerland                         0.919       0.025
                   Iceland                             0.955       0.160
                   Netherlands                         0.913       0.175

                                Perceptions of corruption       new      new2  \
Regional indicator Country
Western Europe     Finland                          0.186  0.910116  0.013250
                   Denmark                          0.179  0.910116  0.013250
                   Switzerland                      0.292  0.887364  0.012730
                   Iceland                          0.673  0.966289  0.013466
                   Netherlands                      0.338  0.887364  0.013083

                               Explained Healthy Life Expectancy
Regional indicator Country
Western Europe     Finland                  Long Life expectancy
                   Denmark                  Long Life expectancy
                   Switzerland              Long Life expectancy
                   Iceland                  Long Life expectancy
                   Netherlands              Long Life expectancy