In [2]:
import pandas as pd
import seaborn as sns

In [6]:
df = sns.load_dataset("diamonds")
df = df.select_dtypes(include = ["float64", "int64"])
df.head()

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

In [10]:
df_table  = df["table"]

In [11]:
q1 = df_table.quantile(0.25)