In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("c:/Users/MTM/Documents/Data-Science-Sample/datasets/bollywood_full.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4329 entries, 0 to 4328
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           4329 non-null   object
 1   imdb_id           4329 non-null   object
 2   poster_path       3579 non-null   object
 3   wiki_link         4329 non-null   object
 4   title_y           4329 non-null   object
 5   original_title    4329 non-null   object
 6   is_adult          4329 non-null   int64
 7   year_of_release   4329 non-null   int64
 8   runtime           4329 non-null   object
 9   genres            4329 non-null   object
 10  imdb_rating       4329 non-null   float64
 11  imdb_votes        4329 non-null   int64
 12  story             4065 non-null   object
 13  summary           4329 non-null   object
 14  tagline           685 non-null    object
 15  actors            4320 non-null   object
 16  wins_nominations  1344 non-null   object
 17  release_date      3049 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 608.9+ KB

In [40]:
df.groupby(df['year_of_release']).size().argmax()

64

In [43]:
df.iloc[df.groupby(df['year_of_release']).size().argmax()]['year_of_release']

2019

In [45]:
df['summary'][0]

'Indian army special forces execute a covert operation  avenging the killing of fellow army men at their base by a terrorist group.'

In [51]:
df.groupby(df['is_adult']).size()

is_adult
0    4329
dtype: int64

In [57]:
df['is_adult'].value_counts()

0    4329
Name: is_adult, dtype: int64

In [64]:
pd.to_numeric(df['runtime'])

ValueError: Unable to parse string "\N" at position 48